$color-white: #f8f8ff;
$color-black: #0c0c0c;
$color-danger: #dc143c;

$background-color: $color-white;

$color-primary: #1976d2;
$color-secondary: #757575;
$color-disabled: #cccccc6b;

$border-color: #ccc;
