$color-white: #f8f8ff;
$color-black: #101720;
$color-danger: #a51414;

$background-color: $color-white;

$color-primary: #6200ee;
$color-secondary: #607d8b;
$color-disabled: #cccccc6b;

$border-color: #ccc;
